<div class="container" align="center">
<h1>Welcome to ShareArt!</h1>
<br>
<h3>All Artists</h3>
  <div class="new_container">
  <table class="table table-bordered">
    
    <% @artists.each_slice(4) do |artist| %>
      <tr>
        <% artist.each do |artist| %>
      <td>
        <div>
          <% if artist.image_url? %>
            <%= link_to (image_tag artist.image_url, size: "200x200"), artist_pieces_path(artist) %>
          <% else %>
            <%= link_to (image_tag "sa_logo.png", size: "200x200"), artist_pieces_path(artist) %>
          <% end %>
        </div>
      <br>
      <%= artist.username %>
      </td>
      <% end %>
      </tr>
    <% end %>
  </table>
  </div>
</div>