<div class="container" align="center">
<h1>Welcome to ShareArt!</h1>
<br>

<h3>All Artists</h3>

<% @artists.each do |artist| %>
  <%= image_tag artist.image_url, size: "150x150" %>
  <%= link_to artist.username, artist_pieces_path(artist)%> <!--Link to selected artist's gallery -->
  <br>
  
  
<% end %>
</div>