<div class="container" align="center">
<h1>Welcome to ShareArt!</h1>
<br>
<h3>All Artists</h3>
  <table class="table table-bordered">
    <% @artists.each do |artist| %>
      <% @counter = @counter + 1 %>
      <% if @counter%5 == 0 %>
        <tr>
      <% end %>
      <td>
      <%= link_to (image_tag artist.image_url, size: "150x150"), artist_pieces_path(artist) %>
      <br>
      <%= link_to artist.username, artist_pieces_path(artist)%> <!--Link to selected artist's gallery -->
      </td>
      <% if @counter%4 == 0 %>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>